<header id="main-header">
    <div class="header-container">
        <a href="/index.html" id="logo-link" class="logo-link-wrapper"> 
            <div class="logo">Passion<span class="logo-accent">Nexus</span></div>
        </a>
        <nav id="main-nav">
            <button id="mobile-menu-toggle" aria-label="Toggle Menu" aria-expanded="false">☰</button>
            <ul class="nav-links">
                <li><a id="nav-home" href="/index.html">Home</a></li>
                <li><a id="nav-categories" href="/index.html#categories">Categories</a></li>
                <li><a id="nav-erotic-stories" href="/index.html#featured-posts">Erotic Stories</a></li>
                <li><a id="nav-sex-education" href="/sex-education.html">Sex Education</a></li>
                <li><a id="nav-dating-tips" href="/posts/dating-in-the-digital-age.html">Dating Tips</a></li>
                <li><a id="nav-toys-reviews" href="/posts/top-5-toys-for-couples.html">Toys Reviews</a></li>
                <li><a id="nav-contact" href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>